<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of all books</h1>
    {% for i in rec %}

    Title: {{i.title}}<br>
    Author_name:{{i.book_author.name}}<br>
    No of pages:{{i.no_pages}}<br>
    <hr>
    {% endfor %}
    <a href="{% url 'author' %}">Author Form</a>
    <a href="{% url 'book' %}">Book Form</a>
</body>
</html>